.badge-container a:hover {
	text-decoration: none;
}
.badge-container.inactive a {
	color: initial;
	text-decoration: none;
	cursor: default;
}
.badge-container.inactive a:active {
	pointer-events: none;
}
.db-badge {
	background-color: white;
	border-radius: 10px;
	border: 1px solid #ccc;
	height: 130px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 12px;
}
.db-badge h3 {
	margin-bottom: 12px;
}
.db-logo {
	position: absolute;
	top: 9px;
	right: 17px;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,%0A%3Csvg class='svg-icon' style='width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M512 42.666667C272.746667 42.666667 85.333333 126.997333 85.333333 234.666667v554.666666c0 107.669333 187.413333 192 426.666667 192s426.666667-84.330667 426.666667-192V234.666667c0-107.669333-187.413333-192-426.666667-192z m384 554.666666c0 88-202.368 149.333333-384 149.333334S128 685.333333 128 597.333333v-107.434666C196.394667 553.984 340.693333 597.333333 512 597.333333s315.605333-43.349333 384-107.434666V597.333333z m0-192c0 88-202.368 149.333333-384 149.333334S128 493.333333 128 405.333333v-86.101333C196.394667 383.317333 340.693333 426.666667 512 426.666667s315.605333-43.349333 384-107.434667V405.333333zM512 85.333333c181.632 0 384 61.333333 384 149.333334s-202.368 149.333333-384 149.333333-384-61.333333-384-149.333333 202.389333-149.333333 384-149.333334z m0 853.333334c-181.632 0-384-61.333333-384-149.333334v-107.434666C196.394667 745.984 340.693333 789.333333 512 789.333333s315.605333-43.349333 384-107.434666V789.333333c0 88-202.368 149.333333-384 149.333334z' fill='%239c9898' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: top 10% right 1%;
	filter: invert(51%) sepia(9%) saturate(4549%) hue-rotate(177deg) brightness(85%) contrast(72%);
}
.badge-container.inactive .db-logo {
	filter: none;
}
p.description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
}
.badge-container a:focus {
	text-decoration: none;
}
