html {
	height: 100%;
}
body {
    width:100%;
    height:100%;
    background-color: #fff
}
footer {
	position:absolute;
	clear:both;
	margin:0;
	bottom:0;
	left:0;
	width:100%;
	height:60px;
	background:rgb(51,51,51);
	text-align: center;
	vertical-align: middle;
	color: white;
}
span.icon-database {
	   width: 60px;
	   height: 60px;
	   background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6V288c0 44.2-100.3 80-224 80S0 332.2 0 288V186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6V432c0 44.2-100.3 80-224 80S0 476.2 0 432V346.1z"/></svg>');
	   background-repeat: no-repeat;
}
.eukaryota .icon-database {
	filter: brightness(0) saturate(100%) invert(27%) sepia(17%) saturate(5949%) hue-rotate(329deg) brightness(100%) contrast(87%);
}
.bacteria .icon-database {
	filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(339%) hue-rotate(156deg) brightness(94%) contrast(90%);
}
.archaea .icon-database {
	filter: brightness(0) saturate(100%) invert(41%) sepia(55%) saturate(474%) hue-rotate(92deg) brightness(99%) contrast(90%);
}
a.institution:hover {
	text-decoration: none;
}
.push {
	height:15px;
}
.tax_summary {
	width: 100%;
}
.banner {
	width:100%;
	margin-top: 40;
}
.hm_row {
	display: table;
	table-layout: fixed;
	width:100%;
	height: 20px;
}
.hm_row.domain_row {
	margin-bottom: 20px;
	font-weight: bold;
}
.hm_label {
	display: table-cell;
	width: 100%;
	height:40px;
	-ms-transform: rotate(35deg); /* IE 9 */
	-webkit-transform: rotate(35deg); /* Chrome, Safari, Opera */
	transform: rotate(35deg);
	word-wrap: break-word;
	font-size: 1em;
	text-align: center;
}
.hm_col {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.hm_rect {
	width: 100%;
	height: 100%;
	text-orientation: sideways;
	border-style: hidden;
	border-width: : 1px;
	border-color: rgb(0,0,0);
	display: table-cell;
}
.hm_rect.black-border {
	border-left: 3px solid black;
}
.hm_rect:hover {
	filter: brightness(150%);
}
.hm_rect.popup-elem {
	border:2px groove;
	border-color:  #609dd2;
	border-radius: 3px;
}
.oi_row {
	width:100%;
	display: table;
	table-layout: fixed;
}
.oi_cell {
	text-align: center;
	display: table-cell;
}
.wrapper {
    position: relative;
    min-height: 100%;
    background-color: whitesmoke;
}
.navbar-nav > li {
	min-width: 100px;
	max-width: 180px;
}
.navbar-nav > li > a {
	text-align: center;
}
.tile {
	height: 100%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid;
	background-color: #fff;
	border-color: #d5cee4;
	border-radius: 10px;
	padding-bottom:  10px;
	margin: 5px;
}
.dropdown-toggle {
	width: 100%;
}
.dropdown-menu {
	min-width: 100%;
	text-align: center;
}
.dropdown-menu > li > a {
	padding: 3px;
}
#menu-srch-input{
    width: 100%;
}
.form-control{
    width: 100%;
};
.tutopics-large{
    display: block;
    margin: auto;
    width: 75%;
}
.tutopics-small{
    display: block;
    margin: auto;
}
.btn-primary#align-button {
    background-color: #009688;
    border-color: #008a7a;
}
.btn-primary#align-button:hover {
    background-color: #008a7a;
}
.btn-help {
	color:;
	background-color: #604b8d;
	border-color: #604b8d;
}
.reference .title {
	font-weight: bold;
	font-size: 1em;
}
.reference .authors {
	font-style:italic;
	font-size: 0.9em;
}
.reference .journal {
	font-size: 0.8em;
}
.eukaryota {
	color: #BE3E42;
}
.bacteria {
	color: #2F80AC;
}
.archaea {
	color: #318D57;
}
.transverse {
	color: #333;
}
li.present {
	list-style-type: none;
}
li.present:before {
    content:'\2713';
    font-family: 'Glyphicon Halflings';
    float: left;
    margin-left:-14px;
    color: green;
}
li.absent {
	list-style-type: none;
}
li.absent:before {
	content:'\274C';
    font-family: 'Glyphicon Halflings';
    float: left;
    margin-left:-14px;
    color: red;
}
.results-header {
	border-bottom: 1px solid rgba(99,68,150,0.1);
}
.popover-distribution{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    left: 0px !important;
}
.popover-distribution.bottom .arrow {
	visibility:hidden;
}
.loader {
	text-align: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
div.bars {
	position: relative;
	background-color: #efefef;
	border: 1px solid #d8d8d8;
}
ul.signatures {
	margin: 0;
}
li.signature {
	list-style: none;
}
div.dom-line {
	height: 20px;
	position: relative;
}
div.bar {
	position: absolute;
	height: 8px;
	top: 25%;
	background-color: #399fc7;
	border: 1px solid grey;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
div.bar:hover {
	-webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}
div.scale {
	position: relative;
	height: 18px;
}
span.scale-bar {
	position: absolute;
	border-left: 1px solid lightgrey;
	height: 4px;
}
span.scale-number {
	position: absolute;
	padding-top: 5px;
}
span.grade {
	position: absolute;
	border-left: 1px dashed lightgrey;
	height: 100%;
}
div.legend {
	margin-top: 1em;
}
span.legend-label {
	margin-right: 1em;
}
div.legend-elem {
	display: inline-block;
	margin-right: 1em;
}
div.legend-square {
	display: inline-block;
	height: 10px;
	width: 10px;
	border: 1px solid #d8d8d8;
}
a.no-underline {
	text-decoration: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: white;
}
.navbar-logo {
	max-height: 48px;
}
#collapseOrthologs li.active a {
	pointer-events: none;
}
footer a {
	color: white;
}
img.logo {
	height: 60px;
	margin-left: 15px;
	margin-right: 15px;
}
.panel-group > .panel-cluster {
    border-color: #ffb300;
	margin: 25px 0 25px;
}
.panel-cluster > .panel-heading {
	background-color: #ffecb3;
	color: #673ab7;
}
.panel-cluster .banner {
	margin: 15px 5px 5px 5px;
}
.inparalog-name {
	font-size: 0.5vw;
}
div#collapseInparalogs {
	margin-bottom: 5px;
}
.fixed-table-body {
	background-color: white;
}
.sel-db {
	width: 120px !important;
}
