<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{{prefix}}/static/images/favicon.ico">
		<title>{{ title }}{% block title %}{% endblock %}</title>
		<!-- Bootstrap core CSS -->
		<link href="{{prefix}}/static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{prefix}}/static/css/orthoinspector_style.css" rel="stylesheet">
		<link href="{{prefix}}/static/css/OI_theme.css" rel="stylesheet">
		<link href="{{prefix}}/static/css/autocomplete.css">
		<link href="{{prefix}}/static/css/jquery-ui.min.css" rel="stylesheet">
		<script src="{{prefix}}/static/js/jquery-1.11.0.min.js"></script>
		<script src="{{prefix}}/static/js/jquery-ui.min.js"></script>
		<script src="{{prefix}}/static/js/autocomplete.js"></script>
		<script src="{{prefix}}/static/bootstrap/js/bootstrap.js"></script>
		{% block header %}{% endblock%}
		<script>const prefix="{{prefix}}"</script>
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//lbgi.fr/trk/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '5']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript';
				 g.async=true;
				 g.defer=true;
				 g.src=u+'piwik.js';
				s.parentNode.insertBefore(g,s);
			}
			)();
		</script>
	</head>
	<body>
		<div class="wrapper">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<a href="{{prefix}}" class="navbar-left"><img class="navbar-logo" src="{{prefix}}/static/images/oi_logo.png" title="OrthoInspector"></a>
					<div class="navbar-header col-xs-2">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand">
							{% block navbar_title %}{% endblock %}
						</span>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						{% block navbar_middle %}{% endblock %}
						<div class="navbar-right">
							<ul class="nav navbar-nav">
							{#
							{% macro make_menu_link(name, url) %}
								<li><a href="{% if url starts with '/' %}{{ prefix }}{% endif %}{{ url }}">{{ name }}</a></li>
							{% endmacro %}
#}
							{% for name, val in menu_items %}
								{% if val is not iterable %}
									{{ _self.make_menu_link(name, val) }}
								{% else %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ name }} <span class="caret"></span></a>
									<ul class="dropdown-menu">
									{% for name_child, val_child in val %}
										{{ _self.make_menu_link(name_child, val_child) }}
									{% endfor %}
									</ul>
								</li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						{% block content %} {% if data is defined %} {{data.text|raw}} {% endif %} {%endblock %}
					</div>
				</div>
			</div>
			<!-- /.container -->
			<div class="container" style="margin:0; margin-bottom:-80px; padding:0; width:100%; position:absolute; bottom:0">
				<footer>
					OrthoInspector website
					<br>
					<a href="https://cstb.icube.unistra.fr" target="_blank">Complex Systems and Translational Bioinformatics team</a> - <a href="https://icube.unistra.fr" target="_blank">ICube laboratory</a>
				</footer>
			</div>
		</div>
	</body>
</html>
