{% extends "dbspecific.html" %}

{% from "macros.html" import format_integer %}

{% block title %} - {{ db.name }} {{ db.release }}{% endblock %}

{% block header %}
{{ super() }}
<link href="{{ prefix }}/static/css/bootstrap-table.min.css" rel="stylesheet">
<link href="{{ prefix }}/static/css/dbindex.css" rel="stylesheet">
<script src="{{ prefix }}/static/js/bootstrap-table.min.js"></script>
<script src="{{ prefix }}/static/js/plotly-2.30.0.min.js"></script>
<script src="{{ prefix }}/static/js/sun.js"></script>
<script src="{{ prefix }}/static/js/dbindex.js"></script>
{% endblock %}

{% block content %}
<div class="row">
	<div style="text-align: left" class="tile col-xs-12">
		<h2 style="text-align: center">{{ db.name }} {{ db.release }} database</h2>
		<p class="db-desc">{{ db.description }}</p>
	</div>
</div>
<div id="stats">
	<h1>{{ format_integer(stats.species) }} species, {{ format_integer(stats.proteins) }} proteins</h1>
</div>
<div id="species" class="row">
	<div id="species-plot" class="center-block"></div>
	<div id="species-list">
		<h3>Species list</h3>
		<table class="table table-striped table-hover"
			data-search="true"
			data-pagination="true"
			data-page-size="20"
			data-search-placeholder="Search by name or ancestor"
			data-toggle="table">
			<thead>
				<tr>
					<th data-field="id">Taxid</th>
					<th data-field="name">Name</th>
					{% if db.has_models %}
					<th data-field="model">Model species</th>
					{% endif %}
					<th data-field="link" data-searchable="false">Link</th>
					<th data-field="lineage" data-visible="false"></th>
				</tr>
			</thead>
			<tbody>
		{% for s in species %}
			<tr>
				<td>{{ s.taxid }}</td>
				<td>
					<span class="species-name">{{ s.name }}</span>
				</td>
				{% if db.has_models %}
				<td>{% if s.model %}Yes{% else %}No{% endif %}</td>
				{% endif %}
				<td>
					<a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id={{ s.taxid }}" target="_blank">More info</a>
				</td>
				<td hidden>{{ s.lineage }}</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
