{% extends "base.html" %}

{% from "macros.html" import format_integer %}

{% block title %} - Databases{% endblock %}

{% block content %}
<h1>Available databases</h1>

{% for release, db in dbstats.items() %}
<h2>{{ release }}</h2>
<table class="table table-striped table-hover">
	<thead>
		<th>Name</th>
		<th>Number of sequences</th>
		<th>Number of species</th>
		<th></th>
	</thead>
	<tbody>
		{% for name, stats in db.items() %}
		<tr>
			<td>{{ name }}</td>
			<td>{{ format_integer(stats.proteins) }}</td>
			<td>{{ format_integer(stats.species) }}</td>
			<td>
				<a href="{{ prefix }}/database/{{ name }}/{{ release }}">More info</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}
{% endblock %}
