{% extends "base.html" %}

{% block header %}
<script>
	const database="{{db.name}}";
</script>
{% endblock %}

{% block navbar_title %}
<a class="navbar-brand" href="{{ prefix }}/{{ db.name }}">{{ db.name }}</a>
{% endblock %}

{% block navbar_middle %}
<div class="col-xs-6">
	<form class="navbar-form navbar-left protein-srch">
		<div class="form-group">
			<input type="text" id="srch-protein-top" class="form-control searchbar" placeholder="Search your favorite protein">
			<a class="btn btn-default" href="{{ prefix }}/{{ db.name }}/protein/random">Random</a>
		</div>
	</form>
</div>
{% if db.has_profiles %}
<div class="navbar-right">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{{ prefix }}/{{ db.name }}/profilesearch">Profile search</a></li>
			</ul>
		</li>
	</ul>
</div>
{% endif %}
{% endblock %}
