{% extends "base.html" %}

{% block title %} - GO search{% endblock %}

{% block header %}
{{ super() }}
<link href="{{ prefix }}/static/css/searchresult.css" rel="stylesheet">
<script src="{{ prefix }}/static/js/gosearchresult.js"></script>
<script>
const database = '{{ params.database }}';
const release = '{{ params.release }}';
const taxid = '{{ params.taxid }}';
const species_name = '{{ params.species_name }}';
const goid = '{{ params.goid }}';
const taskid = '{{ taskid }}';
</script>
{% endblock %}

{% block content %}
<h2>GO search in {{ params.database }} {{ params.release }}</h2>
<div class="results-header oi_row">
	<div class="oi_cell" style="vertical-align:middle;">
		<p>
			<b>Query species:</b> <span id="species-name">{{ params.species_name }}</span>
		</p>
		<p></p>
		<h4 id="numres" style="display: none;">
			<b></b> proteins found
		</h4>
		<p></p>
	</div>
	<div class="oi_cell" style="vertical-align:middle;">
		<p>
			<b>GO term:</b> <a href="https://www.ebi.ac.uk/QuickGO/term/{{ params.goid }}" target="_blank">{{ params.goid }} - {{ params.goname }}</a>
		</p>
	</div>
</div>
{#
<div id="toolbar" style="display: none;">
	<button id="download-fasta" class="btn btn-primary" title="Download all sequences as FASTA">Get FASTA</button>
	<button id="download-orthoxml" class="btn btn-primary" title="Download all sequences as OrthoXML">Get OrthoXML</button>
	<button id="download-list" class="btn btn-primary" title="Download ID list">Get ID list</button>
</div>
#}
<div class="loader">
	<br />
	<img src="{{ prefix }}/static/images/gears.svg" />
</div>
<div id="result"></div>
<div id="page" class="row">
	<div id="pagesize" class="form-inline">
		<select class="form-control" id="numByPage">
			<option value="25">25</option>
				<option selected="" value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="500">500</option>
		</select> results by page
	</div>
	<nav id="pagechoice" aria-label="Page navigation">
		<ul class="pagination"></ul>
	</nav>
</div>
{% endblock %}
