{% extends "dbspecific.html" %}

{% block title %} - Profile search{% endblock %}

{% block header %}
{{ super() }}
<link href="{{ prefix }}/static/css/profilesearchresult.css" rel="stylesheet">
<script src="{{ prefix }}/static/js/profilesearchresult.js"></script>
<script>
const query_taxid = '{{ params.query.taxid }}';
const taskid = '{{ taskid }}';
</script>
{% endblock %}

{% block content %}
<div class="results-header oi_row">
	<div class="oi_cell" style="vertical-align:middle;">
		<p>
			<b>Query species:</b> <span id="orga-name">{{ params.query.name }}</span>
		</p>
		<p></p>
		<h4 id="numres" style="display: none;">
			<b></b> proteins found
		</h4>
		<p></p>
	</div>
	<div class="oi_cell">
		<p>
			<b>Orthologs in: </b>
		</p>
		<ul>
		{% for name in params.display.present %}
			<li class="present">{{ name }}</li>
		{% endfor %}
		</ul>
	</div>
	<div class="oi_cell">
		<p>
			<b>No orthologs in:</b>
		</p>
		<ul>
		{% for name in params.display.absent %}
			<li class="absent">{{ name }}</li>
		{% endfor %}
		</ul>
	</div>
</div>
<div id="toolbar" style="display: none;">
	<button id="download-fasta" class="btn btn-primary" title="Download all sequences as FASTA">Get FASTA</button>
	{#
	<button id="download-orthoxml" class="btn btn-primary" title="Download all sequences as OrthoXML">Get OrthoXML</button>
	#}
	<button id="download-list" class="btn btn-primary" title="Download ID list">Get ID list</button>
</div>
<div class="loader"></div>
<div id="result"></div>
<div id="page" class="row">
	<div id="pagesize" class="form-inline">
		<select class="form-control" id="numByPage">
			<option value="25">25</option>
				<option selected="" value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="500">500</option>
		</select> results by page
	</div>
	<nav id="pagechoice" aria-label="Page navigation">
		<ul class="pagination"></ul>
	</nav>
</div>
{% endblock %}
